# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/TodoApp/CopilotIndices/17.14.1641.39856/CodeChunks.db
.vs/TodoApp/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
.vs/TodoApp/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
.vs/TodoApp/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-wal
.vs/TodoApp/FileContentIndex/4a6b23c9-f456-4b47-abf3-5bd2a5be8be7.vsidx
.vs/TodoApp/CopilotIndices/17.14.1641.39856/CodeChunks.db-wal
.vs/TodoApp/FileContentIndex/f65d6367-65b1-401e-bbf8-5f31e418be9d.vsidx
.vs/TodoApp/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
.vs/slnx.sqlite
.vs/TodoApp/FileContentIndex/5f3078b8-d038-4953-a4e3-d62419febecb.vsidx
.vs/TodoApp/FileContentIndex/041a8582-f645-479f-97c7-5d5245832564.vsidx
